.tags {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  span {
    padding: 5px;
    color: rgb(66, 66, 220);
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: red;
    }
  }
}

.tags-bigFont{
    font-size: 20px;
}
