.note {
  max-width: 300px;
  padding: 15px;

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 255, 0.2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: antiquewhite;

  p {
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-size: 20px;
    letter-spacing: 1.5px;
    word-wrap: break-word;
    color: rgb(7, 7, 7);
    &::first-letter {
      text-transform: uppercase;
      color: red;
      font-size: 30px;
    }
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 20%;
    font-size: 25px;

    svg {
      color: green;
      transition: color 0.3s ease-in;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}
