.app {
  h1 {
    text-align: center;
  }
  .card {
    margin-top: 2%;
  }

  .tags-control {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: fantasy;
    font-weight: 700;
    color: rgb(26, 82, 179);
    div:first-of-type {
      color: rgb(82, 78, 78);
      transition: color 0.3s ease-in-out;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}
